:root {
  --color-black: #000;
  --color-light-blue: #DAE5E0;
  --color-light-green: #20B2AA;
  --color-white: whitesmoke;
  --color-yellow-opacity: #ffeb3b38;
  --color-yellow: #ffeb3b;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-white);
  background: var(--color-black);
  font-family: "IBM Plex Sans", sans-serif;
  min-height: calc(100vh - 1.5em);
  margin: 1.5em 1.5em 0;
}

#root {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-card-wrapper {
  .title-card {
    font-family: monospace;
    font-size: 2.5em;
    margin: 0 auto;
    max-width: 45%;
    text-align: justify;
  
    @media (max-width: 850px) {
      max-width: 100%;
    }
  
    h1 {
      font-weight: 400;
      margin: 0 0 0.5em;
    }
  
    h3 {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.75rem;
    }
  }
  
  h4 {
    font-weight: 400;
    margin: 2rem auto 0;
    max-width: 45%;
  
    @media (max-width: 850px) {
      max-width: 100%;
    }
  }
}


.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location {
  border: 1px solid var(--color-light-blue);
  border-radius: 0.2em;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  margin-bottom: 1.5em;
  padding: 1.5em;
  position: relative;
  width: calc(33% - 10px);

  @media (max-width: 850px) {
    width: 100%;
  }

  p {
    margin: 0;
  }

  .location__name {
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  .location__latLong {
    display: flex;
    font-size: 80%;
    flex-direction: column;
    position: absolute;
    right: 1.5em;
    text-align: right;
    top: 2.1em;

    &.no-daylight {
      display: none;
    }

    span {
      margin-left: 5px;
    }
  }
}

.viz.location__viz {
  background: var(--color-light-green);
  height: 2px;
  margin: 120px 0 10px;
  position: relative;

  .viz__marker {
    background: var(--color-yellow);
    border-radius: 50%;
    height: 16px;
    position: absolute;
    top: -7.5px;
    width: 16px;
    z-index: 2;

    &.no-daylight {
      display: none;
    }
  }

  .viz__line {
    background: var(--color-yellow-opacity);
    height: 90px;
    position: absolute;
    top: -89px;
    border: dashed 0.1em var(--color-yellow);
    border-color: var(--color-yellow) transparent transparent transparent;
    border-radius: 50%/100px 100px 0 0;
    z-index: 1;

    &.no-daylight {
      background: none;
      border: none;
      left: auto !important;
      right: auto !important;
      width: 100%;
    }
  }

  .viz__label {
    font-size: 10px;
    position: absolute;
    top: 10px;

    &.no-daylight {
      display: none;
    }
  }

  .viz__daylight-wrapper {
    bottom: 24px;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    left: calc(50% - 23px);
    position: absolute;
  }
}
